#map {
    height: 100vh;
    width : 100%;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

a{
	-webkit-user-select: none;
}
